__pycache__
amq.csv
datalogic.txt
datalogic_sspc.csv
iss1.csv
iss2.csv
iss3.csv
iss4.csv
jen.csv
jen.txt
prom-amq-csv
sick_sspc.csv
sick_sspc.txt
siena_hub.csv
siena_hub.txt
siena_sspc.csv
siena_sspc.txt
siena_vss.csv
siena_vss.txt
spot
spot2
spot3
spotfire.csv
swak1.csv
swak2.csv
swak3.csv
swak4.csv
testonly.py
